.container-fluid {
    width: 100%;
    position: relative;
}

header {
    padding: 10px 30px;
    border-bottom: 2px solid #eee;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo,
.profile-noti,
.profile,
.name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile {
    cursor: pointer;
}

.name {
    justify-content: space-between;
}

.profile-noti img {
    margin-right: 15px;
    margin-left: 10px;
}

.initial-name {
    padding: 10px;
    background: #00CDA0;
    border-radius: 40px;
    width: 20px;
    height: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.contenido {
    padding: 20px 30px;
    background: #f9f9f9;
    display: flex;
    height: 90vh;
}

.main {
    width: 100%;
    max-width: 230px;
    padding-right: 20px;
}

.main nav {
    width: 100%;
}

.main nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #000;
}

.active,
a:hover {
    background-color: #f0f0f0;
    color: #000;
    border-radius: 5px;
}

.container-route {
    width: 100%;
}

.options-profile {
    position: absolute;
    background: #fff;
    top: 45px;
    right: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #c0c0c0;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    z-index: 2;
    width: 200px;
    display: none;
}

.options-profile .options a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #000;
}