<div class="container">
    <h3>Editar perfil</h3>

    <form action="">
        <div class="section">
            <div class="initial-name"><span>E</span></div>
            <label>Cargar imagen</label>
        </div>
        <div class="inputs">
            <label for="">NOMBRE</label>
            <input type="text" placeholder="Nombre">
        </div>
        <div class="inputs">
            <label for="">APELLIDO</label>
            <input type="text" placeholder="Apellidos">
        </div>
        <div class="inputs">
            <label for="">CORREO</label>
            <input type="text" placeholder="Correo">
        </div>
        <div class="inputs">
            <label for="">TIPO DE CUENTA</label>
            <input type="text" placeholder="Tipo de cuenta">
        </div>
        <div class="buttons">
            <button class="save" (click)="onSave()">Guardar</button>
            <button (click)="onCancel()">Cancelar</button>
        </div>
    </form>
</div>