<div class="login">
    <div class="form">
        <div class="logo">
            <img src="../../assets/logo.svg" alt="">
        </div>

        <div class="form-container">
            <div class="input">
                <label>Usuario</label>
                <input type="text" placeholder="correo@email.com">
            </div>
            <div class="input">
                <label>Contraseña</label>
                <input type="text" placeholder="**********">
                <img src="../../assets/view.svg" alt="">
            </div>

            <a href="">¿Olvidé mi contraseña?</a>
            <button (click)="onLogin()">Ingresar</button>
        </div>
    </div>
</div>