.container h3 {
    border-bottom: 1px solid #eee;
    color: #000;
    font-weight: 500;
    padding-bottom: 5px;
}

.inputs label,
.inputs input {
    display: block;
    margin-top: 10px;
    font-size: 13px;
}

.inputs input {
    padding: 7px;
    width: 95%;
    border: 2px solid #eee;
    border-radius: 5px;
}

.inputs input:focus {
    outline: none;
}

.buttons {
    padding: 20px 0;
}

.buttons button {
    padding: 10px 40px;
    border-radius: 20px;
    border: 2px solid #eee;
    font-size: 13px;
    cursor: pointer;
}

.save {
    background: linear-gradient(to right, #00C2E6, #00CABB, #00CDA0);
    color: #fff;
    margin-right: 10px;
    border: 0 !important;
}