<div class="container">
    <h3>Cambiar la contraseña</h3>

    <p>Vas a cambiar la contraseña para: cor*********@******l.com</p>

    <form action="">
        <div class="inputs">
            <label for="">CODIGO DE AUTHENTICATOR</label>
            <input type="text" value="000000">
        </div>
        <div class="inputs">
            <label for="">INTRODUCE LA NUEVA CONTRASEÑA</label>
            <input type="password" value="*******">
            <input type="password" value="*******">
        </div>
        <div class="buttons">
            <button class="save" (click)="onSave()">Guardar</button>
            <button (click)="onCancel()">Cancelar</button>
        </div>
    </form>
</div>